@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.first-page {
  font-family: "League Spartan", sans-serif;
  background-image: url(images/sky-solar.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-nav {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.main-nav img {
  width: 5%;
  height: auto;
}
.main-nav ol {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-left: 20%;
  text-align: center;
}
.main-nav ol li {
  list-style: none;
  width: 16.6%;
  padding: 1%;
  text-transform: uppercase;
  margin: 0% 1%;
}
.main-nav ol li a {
  text-decoration: none;
  color: black;
}
.main-nav ol li:hover {
  background-color: rgb(122, 172, 46);
  cursor: pointer;
}
.active {
  background-color: green;
}
.homeP {
  text-align: center;
  color: white;
  margin: 0% 31%;
  padding: 1%;
}
.homeP h2 {
  text-transform: uppercase;
  font-size: 2.3rem;
  padding-top: 15%;
  padding-bottom: 2%;
  letter-spacing: 1.5px;
}
.homeP h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 100;
}
.horiz {
  padding: 10% 30%;
  color: green;
}
.homeP p {
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 8% 0%;
}
button {
  padding: 4% 10%;
  background-color: green;
  color: white;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 4% 0%;
}
button:hover {
  cursor: pointer;
  background-color: rgb(122, 172, 46);
}
.sub-bar {
  background-color: green;
  padding: 3%;
  width: 100%;
  color: white;
  font-size: 1.4rem;
  text-align: center;
}
.sub-bar span {
  color: yellowgreen;
}
.sub-bar span:hover {
    cursor: pointer;
    color:rgb(122, 172, 46);
}
.second-page {
  display: flex;
  flex-direction: row;
  margin: 3% 10%;
  font-family: 'League Spartan', sans-serif;
}
.sec-paragraph {
  width: 50%;
  padding: 3%;
}
.sec-paragraph h2 {
  text-transform: uppercase;
  font-size: 2.7rem;
  color: black;
  padding-bottom: 3%;
}
.second-line {
  margin-left: 3%;
  margin-right: 60%;
  padding-bottom: 4%;
}
.sec-paragraph p {
  padding-bottom: 4%;
  font-size: 1.1rem;
}
.para-two {
  color: grey;
  font-size: 0.8rem;
}
.button-sec {
  background-color: green;
  color: black;
}
.button-sec:hover {
  cursor: pointer;
  background-color: rgb(122, 172, 46);
}
.sec-picture {
  width: 50%;
}
.sec-picture img {
  width: 100%;
  height: auto;
  padding: 5%;
}
.third-page {
  display: flex;
  flex-direction: row;
  padding: 3%;
  background-image: url(images/trial.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.third-page div {
  padding: 3%;
}
.fa-solid {
  font-size: 3rem;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5%;
  margin: 8% 33%;
  cursor: pointer;
  color: black;
}
.fa-solid:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
.third-page h4 {
  text-transform: capitalize;
  text-align: center;
  padding: 10% 0%;
  font-size: 1.5rem;
  color: black;
}
.third-page p {
  text-transform: capitalize;
  padding-bottom: 5%;
  text-align: center;
  color: black;
}
.fourth-page {
    padding: 3%;
}
.fourth-sub h4 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-bottom: 2%;
}
.fourth-line {
    margin: 0% 42%;
    padding-bottom: 2%;
}
.fourth-sub p {
    margin: 0% 20%;
    padding: 2%;
    font-size: 1.1rem;
    text-transform:capitalize;
    color: darkgrey;
}
.fourth-pics {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.fourth-pics div {
    width: 33%;
}
.image-one img, .image-two img, .image-three img {
    width: 100%;
    height: auto;
    padding: 2%;
}
.image-one h5, .image-two h5, .image-three h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    color: green;
    cursor: pointer;
}
.fourth-button {
    padding: 2%;
    margin: 1% 31%;
    text-align: center;
    cursor: pointer;
}
.fifth-page h3 {
    text-align: center;
    font-size: 1.9rem;
    text-transform: capitalize;
    padding-bottom: 3%;
}
.tabs {
    display: flex;
    flex-direction: row;
}
.tab-one, .tab-two, .tab-three, .tab-four {
    text-align: center;
    width: 25%;
    margin: 1%;
    background-color: rgb(247, 242, 242);
}
.tab-one h4,.tab-two h4, .tab-three h4, .tab-four h4 {
    background-color: green;
    padding: 5%;
    text-transform: uppercase;
    font-size: 2rem;
}
.tab-one h4:hover,.tab-two h4:hover, .tab-three h4:hover, .tab-four h4:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(122, 172, 46);
}
.tab-one p,.tab-two p, .tab-three p, .tab-four p {
    padding: 5%;
    font-size: 2rem;
}
.tabs ol li {
    list-style-type: none;
    text-transform: capitalize;
    padding: 4%;
}
.fifth-nav {
    background-color: green;
    padding: 3%;
    text-transform: capitalize;
    text-align: center;
    color: white;
    margin-top: 3%;
}
.fifth-nav span {
    color: greenyellow;
}
.footer {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    margin-top: 10%;
}
.about-us, .gallery, .contact-us, .newsletter {
    width: 25%;
    margin: 4% 0%;
    padding: 2%;
}
.imagess {
    display: flex;
    flex-direction: row;
}
.imagess img {
    width: 25%;
}
.footer h3 {
    text-transform: capitalize;
    padding: 5% 0%;
    font-size: 2rem;
}
.contact-us p {
    text-transform: capitalize;
    padding-top: 7%;
}
.newsletter p {
    padding-bottom: 5%;
}
.newsletter input {
    width: 100%;
    padding: 3%;
}









